body {
  background-color: #22577A;
  margin: 0;
}

#cologo {
  width: 100%;
  object-fit: fill;
}

#text {
  margin: 1em;
}

p, h2, h3, li {
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #80ED99;
}

h3 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  grid-gap: .5em;
  align-content: center; 
}

@media only screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-item {
  background-color: antiquewhite;
  justify-content: center;
  list-style-position: inside;
  padding: .5em;
  box-shadow: 0 2px 4px 0 #38A3A5, 0 3px 10px 0 #38A3A5;
}

.slideImages {
    display: block;
}

.slideReviews p {
  font-style: italic;
  text-align: center;
  background-color: antiquewhite;
  padding: 1em;
  box-shadow: 0 2px 4px 0 #38A3A5, 0 3px 10px 0 #38A3A5;

}

.slideImg {
  object-fit: fill;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  box-shadow: 0 2px 4px 0 #38A3A5, 0 3px 10px 0 #38A3A5;
}

footer {
  background-color: #38A3A5;
  width: 100%;
}

.contact {
  line-height: 24px;
}

.material-icons {  
  display: inline-flex;
  vertical-align: top;
}

.grid-container-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5em;
}

@media only screen and (max-width: 768px) {
  .grid-container-contact {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-item-contact {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  list-style-position: inside;
  padding: .5em;
}

#links {
  text-align: center;
}

a {
  color: #000000;
}

a:hover {
  color: mintcream;
  font-weight: bold;
}

#contactLabel {
  margin-right: .5em;
}